/*
* @Author: zeroli6
* @Date:   2017-10-21 15:57:37
* @Last Modified by:   zeroli6
* @Last Modified time: 2017-10-26 16:27:06
*/

.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}